# os
.DS_Store
*.pem

# logs
/*-debug.log*
/*-error.log*

# lock-files
yarn.lock
package-lock.json
pnpm-lock.yaml
bun.lockb

# npm
node_modules/

# build
dist/

# custom
.test-artifacts/

# environment variables
.env.*